// main-container
.main-container {
    width: 100%;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
}

@media (min-width: 640px) {

    .main-container {
        padding-left: 1.6rem;
        padding-right: 1.6rem;
    }

}

@media (min-width: 1024px) {

    .main-container {
        max-width: $mainContainer;
        margin-left: auto;
        margin-right: auto;
        padding-left: 150px;
        padding-right: 150px;
    }

}