.section-py {
    padding-top: 50px;
    padding-bottom: 50px;
}

@media (min-width: 1024px) {

    .section-py {
        padding-top: 90px;
        padding-bottom: 90px;
    }

}

.page-top-spacing {
    margin-top: 100px;
}